.jumbotron{
    margin-top:3.2em;
    margin-bottom:0px;
    background:url('../assets/Banner-Code.PNG')  no-repeat scroll top;
    background-size: cover;
}
.jumbotron-content{
    color:#fdf5e6;
    font-family: 'Vollkorn', serif;
}
.navbar{
    margin-bottom:0px;
}
.navbar-default{
    background-image: linear-gradient(to bottom,#2A2A2A 0,#2A2A2A 100%);
    border-color:#CECECE;
    border-radius:0px;
}
.navbar-default .navbar-brand {
    color: #fdf5e6;
}
.navbar-default .navbar-nav>li>a{
    color:#fdf5e6;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#171717;
}
.navbar-default .navbar-nav>li>a:focus{
    color:#fdf5e6;
}
.navbar-nav>li:hover{
    background-color:#c0c0c0;
}
#resume:hover{
    background-color:#48B8DA;
    color:black;
}
.social-icon{
    margin-right:1em;
}
.social-icon:hover{
    opacity:0.4;
}
.about-container{
    background-color:#999999;
    width:100%;
    min-height:500px;
    padding-bottom:1em;
}
.about-content-container{
    width:85%;
    padding-bottom:1em;
    min-height:500px;
    margin:0 auto;
    margin-bottom:1em;
}
.about-content-container>h2{
    padding-top:1em;
    margin-top:0px;
}
.about-content-container>h3{
    text-decoration: underline;
}
.portfolio-container{
    width: 100%;
    min-height: 500px;
    background-color:#2A2A2A;
    padding-bottom:2em;
    padding-top: 2em;
}
.portfolio-content-container{
    width:85%;
    min-height:500px;
    margin: 0 auto;
}
h2{
    color: #171717;
}
.portfolio-header{
    color:#CECECE;
}
.card-block>img{
    max-width:300px;
    height:auto;
}
img{
    max-width:100%;
    height:auto;
    margin-bottom:1em;
}
.modal-body>hr{
    border-color:#c0c0c0;
}
.post-card{
    padding-bottom:1em;
    margin-bottom: 2em;
    max-width:350px;
    margin:0 auto;
    background-color:#999999;
    filter: drop-shadow(4px 4px 4px black);
}
.post-card:hover{
    filter:none;
    cursor:pointer;
}
.post-card-hr{
    border-color:black;
    width:90%;
}
.contact-container{
    background-color:#999999;
    width:100%;
    min-height:200px;
    padding-bottom: 3em;
    padding-top:1em;
}
.contact-content-container{
    width:85%;
    min-height:200px;
    margin:0 auto;
}
.contact-content-container>h4>a{
    color:#171717;
}
.contact-content-container>button{
    background-image:none;
    background-color:transparent;
    border: 3px solid #2A2A2A;
    color:#2A2A2A;
}
.contact-content-container>button:hover{
    background-image:none;
    background-color:#2A2A2A;
    color:#999999;
    border:3px solid #CECECE;
}