.jumbotron{
    margin-top:3.2em;
    margin-bottom:0px;
    background:url('../assets/Banner-Code.PNG')  no-repeat scroll top;
    background-size: cover;
}
.jumbotron-content{
    color:#27842C;
    font-family: 'Vollkorn', serif;
}
.navbar{
    margin-bottom:0px;
}
.navbar-default{
    background-image: linear-gradient(to bottom,#1B1E36 0,#1B1E36 100%);
    border-color:#1B1E36;
    border-radius:0px;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a{
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    color:white;
}
.navbar-default .navbar-nav>li>a:focus{
    color:white;
}
.navbar-nav>li:hover{
    background-color:black;
}
#resume:hover{
    background-color:#48B8DA;
    color:black;
}
.social-icon{
    margin-right:1em;
}
.social-icon:hover{
    opacity:0.4;
}
.about-container{
    background-color:#322348;
    width:100%;
    min-height:500px;
}
.about-content-container{
    width:85%;
    padding-bottom:1em;
    min-height:500px;
    margin:0 auto;
    margin-bottom:1em;
}
.about-content-container>h2{
    padding-top:1em;
    margin-top:10px;
    
}
.about-content-container>h3{
    text-decoration: underline;
}
.portfolio-container{
    width: 100%;
    min-height: 500px;
    background-color:#1B3634;
    padding-bottom:2em;
}
.portfolio-content-container{
    width:85%;
    min-height:500px;
    margin: 0 auto;
}
.resume-container{
    width:100%;
    min-height:500px;
    background-color: #303030;
}
.resume-content-container{
    width:85%;
    min-height:500px;
    margin:0 auto;
    background-color: #1b3634;
}
h2{
    color:black;
    text-decoration: underline;
}
.card-block>img{
    max-width:300px;
    height:auto;
}
img{
    max-width:100%;
    height:auto;
    margin-bottom:1em;
}
.modal-body>hr{
    border-color:gray;
}
.post-card{
    padding-bottom:1em;
    margin-bottom: 2em;
    max-width:350px;
    margin:0 auto;
    background-image: linear-gradient(to bottom,#1B1E36 0,#322348 100%);
    filter: drop-shadow(2px 2px 2px black);
}
.post-card:hover{
    filter:none;
    cursor:pointer;
}
.post-card-hr{
    border-color:black;
    width:90%;
}
.contact-container{
    background-color:#322348;
    width:100%;
    min-height:200px;
    padding-bottom: 3em;
}
.contact-content-container{
    width:85%;
    min-height:200px;
    margin:0 auto;
}
.contact-content-container>button{
    color:black;
}